@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size:xx-large;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
input{
  border: 3px solid #000;
  margin: 30px;
  padding: 5px 13px;
  border-radius: 10px;
}
button{
  background-color: #000;
  color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
}

#storage{
background-color: blueviolet;
padding: 20px;
}
/* .Mainstore{
  text-decoration: none;
} */
/* height: 30vh;
width: 100%; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
